/* switch_manager.css */

Screen {
    background: #1e1e1e;
    color: #c5c8c6;
    overflow: hidden;
}

#title {
    text-align: center;
    padding: 1;
    background: #007acc;
    color: white;
    text-style: bold;
    margin: 0 0;
    margin-bottom: 1;
}

/* Main container fills the window */
#main_container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Fixed height for the command bar */
#command_bar {
    background: #333333;
    height: 3;
    min-height: 3;
    max-height: 3;
    padding: 0 1;
}

.command {
    padding: 0 1;
    margin: 0 1;
    border: round #555555;
    width: 18;
    text-align: center;
}

.help {
    padding: 0 1;
    margin: 0 1;
    border: round #333333;
    width: 18;
    text-align: center;
}

.command.active {
    text-style: bold underline;
}

/* Search input styling */
#search_input {
    margin: 1;
    border: heavy #555555;
    background: #2e2e2e;
    /* Ensure text is visible */
    color: #c5c8c6;
}

/* Wrap the data table in its own container that scrolls if needed */
#table_container {
    height: 70%;  /* Adjust this percentage as needed */
    overflow: auto;
}

/* Let the data table fill its container */
#data_table {
    margin: 0;
    border: heavy #555555;
    height: auto;
}

/* Fixed height for the status bar */
.status {
    background: #444444;
    color: white;
    text-align: center;
    height: 1;
    min-height: 1;
    max-height: 1;
    padding: 0 1;
}

/* Style for the modal container */
.modal-container {
    /* padding: 2 4; */
    margin: 1;
    /* width: 80%; */
    /* border: round #444444;
    background: #555555; */
}

/* Header styling for the modal */
.modal-header {
    text-align: center;
    padding: 1;
    background: #007acc;
    color: lightgrey;
}

/* Body styling for the modal */
.modal-body {
    padding: 1 4;
    margin: 1;
    overflow: auto;  /* Ensure vertical scrolling is enabled */
    /* height: 90vh; */
    border: round #555555;
    /* Optionally center the content vertically if needed */
    /* align: center middle; */
}

/* Text styling within the modal */
.modal-text {
    /* padding: 1; */
    margin: 1;
    /* text-align: center; */
    /* overflow: auto; */
}

